*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:#f3f3f3;
}

/* RECTÁNGULO SUPERIOR */
.hero{
    background:#F9A8D4;
    height:220px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero h1{
    color:#862C58;
    font-size:32px;
    font-weight:600;
}

/* ÁREA CENTRAL */
.container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    margin-top:-80px;
}

.card{
    background:white;
    width:500px;
    padding:35px;
    border-radius:50px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    margin-top: 20px;
}

.form{
    display:flex;
    flex-direction:column;
    gap:12px;
}

label{
    color:#862C58;
    font-size:14px;
}

input,select{
    padding:12px;
    border-radius:25px;
    border:1px solid #ddd;
    font-size:14px;
}

input:focus,select:focus{
    outline:none;
    border:1px solid #C98DA9;
}

.btn{
    margin-top:10px;
    background:#FFE3F2;
    border:1px solid #862C58;
    padding:10px;
    border-radius:25px;
    cursor:pointer;
    color:#862C58;
    font-weight:600;
}

.btn:hover{
    background:#F9A8D4;
}

.results{
    margin-top:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.error{
    color:#b00020;
    font-size:13px;
}

.footer{
    background:#FFE3F2;
    text-align:center;
    padding:18px;
    color:#862C58;
    font-size:13px;
    margin-top: 20px;
}